#main{
	background-color: #77FF77;
	background: #77FF77;
	color: #FFFFFF;
	text-align: center;
	line-height: 2;
	text-shadow: 3px 2px #446644;
	font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-size: 48px;
}